body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 800px;
    height: 600px;
}

canvas {
    max-width: 100%;
    max-height: 300px;
    margin: 10px auto;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #3A86FF;
}

a:hover {
    text-decoration: underline;
}
